* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.wrapper {
}

/* .navbar-border {
  border-top: 2px solid rgb(184, 32, 32);
  border-right: 2px solid rgb(10, 70, 211);
  border-bottom: 2px solid rgb(10, 70, 211);
  border-left: 2px solid rgb(184, 32, 32);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
} */

.navbar-color {
  background-color: #fff;
}

.navbar-nav {
  font-family: 'Raleway', sans-serif;
}

.logo {
  border-top: 2px solid rgb(184, 32, 32);
  border-right: 2px solid rgb(184, 32, 32);
  border-bottom: 2px solid rgb(10, 70, 211);
  border-left: 2px solid rgb(10, 70, 211);
  border-radius: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 1em 1px #ccc;
}

.logo:hover {
  transform: rotate(360deg);
  transition-duration: 0.4s;
}

.logo > img {
  height: 150px;
  width: 150px;
}

.location-icon {
  width: 30px;
}

.icon-nav {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 100%;
  margin-right: 15px;
  color: white;
}

.icon-nav svg {
  height: 18px;
  width: 18px;
}

.fsz-navtext {
  /* font-size: 15px; */
}

.wallpaper {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 80vh;
  width: 100%;
  background-image: url("../images/wallpaper.png");
  background-color: #fff;
  background-position: 0 220px;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(5px);
  box-shadow: inset 0 0 1em 2px #000;
}

.main {
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0, 0.7);
  font-family: 'Raleway', sans-serif;
  color: #000;
  color: #fff;
  overflow: scroll;
}

.main-center {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.jumbotron-main {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px 0;
}

.jumbotron-description {
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
}

.jumbotron-benefits {
  margin: 2px 0;
  font-family: 'Roboto', sans-serif;
}

.service {
  box-shadow: 0 0 1em 1px #000;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.koborder {
  border-top: 2px solid rgb(10, 70, 211);
  border-right: 2px solid rgb(10, 70, 211);
  border-bottom: 2px solid rgb(184, 32, 32);
  border-left: 2px solid rgb(184, 32, 32);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border: 2px solid #000; */
}

.value {
  background-color: #2B2A28;
}

.footer-logo {
  border-top: 2px solid rgb(184, 32, 32);
  border-right: 2px solid rgb(184, 32, 32);
  border-bottom: 2px solid rgb(10, 70, 211);
  border-left: 2px solid rgb(10, 70, 211);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 1em 1px #ccc;
}

.footer-logo > img {
  height: 150px;
  width: 150px;
}
